@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #ffffff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
ul,
ol {
  list-style: none;
}
section ul {
  text-align: center;
}
a {
  text-decoration: none;
  /* color: black; */
  color: inherit;
}
#menu {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/tim-gouw-VvQSzMJ_h0U-unsplash.jpg);
}
#Football {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/vienna-reyes-qCrKTET_09o-unsplash.jpg);
}
#Tennis {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/chino-rocha-2FKTyJqfWX8-unsplash.jpg);
}
#Boks {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/hermes-rivera-qbf59TU077Q-unsplash.jpg);
}
#Karate {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/uriel-soberanes-ngd2uo1eyZg-unsplash.jpg);
}
#Basketball {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/markus-spiske-BfphcCvhl6E-unsplash.jpg);
}
